In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import truncnorm

# Leer DataSet

In [3]:
df = pd.read_csv("StudentsPerformance.csv")

In [4]:
df.shape

(1000, 8)

In [5]:
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

### Analisis de columnas y tipos de datos

In [6]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [7]:
df.columns = ['age', 'race', 'parentEducation', 'lunch', 'testPreparation',
       'mathScore', 'readingScore', 'writinScore']

In [8]:
df.head(3)

,age,race,parentEducation,lunch,testPreparation,mathScore,readingScore,writinScore
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93